.allItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    overflow-x: hidden;
}

.allItem h1 {
    color: black;
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}

.allItem hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: black;
}

.allProducts {
    margin-top: 50px;
    margin-left: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.ShopSort {
    display: flex;
    align-items: center;
    position: absolute; 
    top: 100px;
    right: 100px;
    padding: 10px 10px 10px 20px;
    border-radius: 40px;
    border: 1px solid grey;
    margin-top: 20px;
}

.ShopSort img {
    height: 30px; 
}

.ShopSort:hover {
    cursor: pointer;
}