node_modules/
.DS_Store
.DS_Store
*.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
*.class
*.class
target/classes/com/yorku/ecommerce/config/CorsConfig$1.class
target/classes/com/yorku/ecommerce/config/CorsConfig.class
target/classes/com/yorku/ecommerce/controller/ProductController.class
target/classes/com/yorku/ecommerce/DAO/ProductDAO.class
target/classes/com/yorku/ecommerce/DAO/ProductDAOImpl.class
target/classes/com/yorku/ecommerce/LoadDatabase.class
target/classes/com/yorku/ecommerce/model/Brand.class
target/classes/com/yorku/ecommerce/model/Category.class
target/classes/com/yorku/ecommerce/model/Product.class
