.mainpage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.square {
    border: 1px solid black;
    width: 800px;
    height: 600px;
    position: relative; 
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.profile,
.purchaseHistory {
    border: 1px solid black;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 150px;
    background-color: white;
    text-align: center;
    line-height: 50px; 
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
}

.profile {
    left: 350px;
}

.purchaseHistory {
    left: 520px; 
}

.profile.active,
.purchaseHistory.active {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.profileContent {
    font-size: 20px;
    margin: 15px;
    line-height: 2.0;
}

.purchaseHistoryContent {
    margin: 15px;
}

.columnHead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: grey;
    font-size: 18px;
    font-weight: 600; 
}


.itemList {
    display: grid;
    grid-template-columns: 0.6fr 1.7fr 1.2fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 600; 
}