.checkoutPage {
    display: flex;
    margin: 150px 170px;
}

.checkoutForm {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    width: 500px;
    gap: 10px;
}

.checkoutItem {
    margin: 10px;
    padding: 10px;
}

.checkoutPage button {
    height: 50px;
    margin-top: 500px;
}

.submission {
    margin-top: 400px;
}

.error {
    color: red;
    font-size: 20px;
    margin-top: 10px;
}